@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button {
	border: none;
  outline: none;  
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}

h2 {
  background:#F0F0F0;
  border:1px solid #CCC;
  margin:0px auto;
}


